*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'open-sans';
}
.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
.titulo{
    color: #2a3273;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}
header{
    width: 100%;
    height: 600px;
    background: #1A2980;  /* fallback for old browsers */
    background: -webkit- linear-gradient(to right, #3d9e9e59, #1A2980), url(../imgs/portada.png);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3d9e9e59, #1A2980), url(../imgs/portada.png); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
nav{
    text-align: right;
    padding: 30px 50px 0 0;
}
nav > a{
    color: white;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}
nav > a:hover{
    text-decoration: underline;
}
header .textos-header{
    display: flex;
    height: 230px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.textos-header h1{
    font-size: 50px;
    color: aliceblue;
}
.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color: aliceblue;
}

/* About us */

main .sobre-nosotros {
    padding: 30px 0 60px 0;
}
.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-between;
}
.contenedor-sobre-nosotros img{
    border-radius: 0;
}
.imagen-about-us{
    width: 40%;
    padding-right: 30px;
}
.sobre-nosotros .contenido-textos{
    width: 48%;
}
.contenido-textos h3{
    margin-bottom: 15px;
    margin-inline-start: 5px;
}
.contenido-textos h3 span{
    background: rgb(29, 8, 106);
    color: aliceblue;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}
.contenido-textos p{
    padding: 0 0 30px 15px;
    font-weight: 300;
    text-align: justify;
}
.wave{
    position: absolute;
    bottom: 0px;
    width: 100%;

}
/*GALERIA*/

.portafolio{
    background: rgb(243, 237, 237);
}
.galeria-puntos{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.imagen-puntos{
    width: 24%;
    margin-bottom: 10px;
    height: 200px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}
.imagen-puntos > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(273,91%,27%,0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hover-galeria img{
    width: 50px;
    border-radius: 50%;
}
.hover-galeria p{
    color: aliceblue;
}
.imagen-puntos:hover .hover-galeria{
    transform: scale(1);
}
 /* Clientes */

 .cards {
     display: flex;
     justify-content: space-evenly;
 }
 .cards .card {
     background: rgb(30, 8, 90);
     display: flex;
     width: 46%;
     height: 200px;
     align-items: center;
     justify-content: space-evenly;
     border-radius: 5px;
     box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6) ;
 }
 .cards .card img{
     width: 100px;
     height: 100px;
     object-fit: cover;
     border: 3px solid #fff;
     border-radius: 50%;
     display: block;

 }
 .cards .card > .contenido-texto-card{
    
    width: 60%;
    color: aliceblue;
 }
 .cards .card > .contenido-texto-card p{
     font-weight: 300;
     padding-top: 5px;
    
 }
 /* Nuestro equipo */

 .about-services {
     background: #fff;
     padding-bottom: 30px;
 }
 .servicio-cont{
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
 .servicio-indiv{
     width: 28%;
     text-align: center;
 }
.servicio-indiv img{
    width: 90%;
}
.servicio-indiv h3{
    margin: 10px 0;
}
.servicio-indiv p{
    font-weight: 300;
    text-align: center;
}

/* Pie de pagina */

footer {
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}
.contenedor-footer {
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-evenly;
    padding-bottom: 50px;
    border-bottom: 1px solid rgb(92, 85, 85);

}
.contenedor-foo{
    text-align: center;
}
.contenedor-foo h4{
    color: #fff;
    border-bottom: 3px solid #1A2980;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.contenedor-foo p{
    color: gray;
}

.social > a > img {
    width: 48px;
    margin: 0 8px 0 0;

}



.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: gray;
}

/* Formularios */

label {
    display:block;
    margin-top:20px;
    letter-spacing:1px;
}
 
.principal {
    display:block;
    margin:0 auto;
    width:510px;
    color: #666666;
    font-family:Arial;
}
 
form {
    margin:0 auto;
    width:400px;
}
 
input, textarea {
    width:380px;
    height:27px;
    background:#666666;
    border:2px solid #f6f6f6;
    padding:10px;
    margin-top:5px;
    font-size:10px;
    color:#ffffff;
}
 
textarea {
    height:150px;
}
 
#submit {
    width:85px;
    height:35px;
    border:none;
    margin-top:20px;
    cursor:pointer;
}

/* Responsive */

@media screen and (max-width: 900px){
    header{
        background-position: center;
    }
    .contenedor-sobre-nosotros{
        flex-direction: column;
        justify-content: center;
        align-items: center ;
    }
    .sobre-nosotros .contenido-textos{
        width: 90%;
    }
    .imagen-about-us{
        width: 90%;
    }
    /* Galería */

    .imagen-puntos{
        width: 44%;
    }

    /* Clientes */

    .cards {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .cards .card{
        width: 90%;
    }
    .cards .card:first-child {
        margin-bottom: 30px;
    }

    /* Servicios */

    .servicio-cont{
        flex-direction: column;
        justify-content: center;
    }
    .servicio-indiv {
        width: 100%;
        text-align: center;
    }
    .servicio-indiv:nth-child(1), .servicio-indiv:nth-child(2){
        margin-bottom: 60px;
    }
    .servicio-indiv img {
        width: 90%;
    }
}

@media screen and (max-width: 500px) {
    nav {
        text-align: center;
        padding: 30px 0 0 0;
    }
    nav > a {
        margin-right: 5px;
    }
    .textos-header {
        font-size: 35px;
    }
    .textos-header h2 {
        font-size: 20px;
    }

    /* Abaout us */

    .imagen-about-us {
        margin-bottom: 60px;
        width: 99%;
    }
    .sobre-nosotros .contenido-textos {
        width: 95%;
    }

    /* Galería */

    .imagen-puntos {
        width: 95%;
    }

    /* Clientes */

    .cards .card {
        height: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cards .card img {
        width: 90px;
        height: 90px;
    }
    /* Pie de pagina */

    .contenedor-footer {
        flex-direction: column;
        border: none;
    }
    .contenedor-foo {
        margin-bottom: 20px;
        text-align: center;
    }
    .contenedor-foo h4 {
        border: none;
    }
    .contenedor-foo p {
        color: #ccc;
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 20px;
    }
    .titulo-final {
        font-size: 20px;
    }
}

